<div class="page-controls">
  <mat-slide-toggle [(ngModel)]="showIconsOnly" color="primary">Show Icons Only</mat-slide-toggle>
  <button class="btn btn-success" (click)="openGitDialog()" [ngClass]="{ 'btn-icon': showIconsOnly }">
    <ng-container *ngIf="showIconsOnly"><i class="fab fa-git-alt"></i></ng-container>
    <ng-container *ngIf="!showIconsOnly">
      <i class="fab fa-git-alt"></i>
      Clone Env from Git
    </ng-container>
  </button>
</div>
<div class="env-list">
  <div class="env-container">
    <div class="env env-header">
      <div class="name">Name</div>
      <div class="latest-commit">Latest Commit</div>
      <div class="owner">Last Committer</div>
      <div class="team-count">Team Count</div>
      <div class="network-count">Network Count</div>
      <div class="host-count">Host Count</div>
      <div class="controls">Controls</div>
      <span class="expand-controls"></span>
    </div>
  </div>
  <div class="env-container" *ngIf="!(environments | async)">
    <div class="env env-loading">
      <i class="fa fa-spinner-third fa-spin"></i>
    </div>
  </div>
  <ng-container *ngIf="environments | async as _environments">
    <div *ngFor="let environment of _environments" class="env-container">
      <div class="env">
        <div class="name">
          <b>{{ environment.name }}</b>
        </div>
        <div class="commit-hash">
          <a [href]="getLatestCommitLink(environment)" target="_blank" rel="noreferrer">{{ getLatestCommitHash(environment) }}</a>
        </div>
        <div class="owner">{{ getLastCommitter(environment) }}</div>
        <div class="team-count">
          <span>{{ environment.team_count }} Team</span>
          <span *ngIf="environment.team_count > 1">s</span>
        </div>
        <div class="network-count">
          <span>{{ environment.Networks.length }} Network</span>
          <span *ngIf="environment.Networks.length > 1">s</span>
        </div>
        <div class="host-count">
          <span>{{ environment.Hosts.length }} Host</span>
          <span *ngIf="environment.Networks.length > 1">s</span>
        </div>
        <div class="controls">
          <div class="btn-group btn-group-sm">
            <!-- <button class="btn btn-warning" [ngClass]="{ 'btn-icon-only': showIconsOnly }">
              <i class="fa fa-project-diagram" [ngClass]="!showIconsOnly ? 'mr-1' : ''"></i>
              <ng-container *ngIf="!showIconsOnly">Manage</ng-container>
            </button> -->
            <button class="btn btn-success" [ngClass]="{ 'btn-icon': showIconsOnly }" (click)="createBuild(environment)">
              <i class="fa fa-hammer" [ngClass]="!showIconsOnly ? 'mr-1' : ''"></i>
              <ng-container *ngIf="!showIconsOnly">Build</ng-container>
            </button>
            <button class="btn btn-info" [ngClass]="{ 'btn-icon': showIconsOnly }" (click)="updateEnvironmentFromGit(environment)">
              <i class="fa fa-sync-alt" [ngClass]="!showIconsOnly ? 'mr-1' : ''"></i>
              <ng-container *ngIf="!showIconsOnly">Pull</ng-container>
            </button>
            <button class="btn btn-dark" [ngClass]="{ 'btn-icon': showIconsOnly }" (click)="viewEnvironmentLogs(environment)">
              <i class="fa fa-scroll" [ngClass]="!showIconsOnly ? 'mr-1' : ''"></i>
              <ng-container *ngIf="!showIconsOnly">View Logs</ng-container>
            </button>
            <!-- <button class="btn btn-danger" [ngClass]="{ 'btn-icon': showIconsOnly }">
              <i class="fa fa-bomb" [ngClass]="!showIconsOnly ? 'mr-1' : ''"></i>
              <ng-container *ngIf="!showIconsOnly">Destroy</ng-container>
            </button> -->
          </div>
        </div>
        <span class="expand-controls" (click)="toggleExpandEnvironment(environment)">
          <i class="fa" [ngClass]="environmentIsExpanded(environment) ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
        </span>
      </div>
      <div
        [id]="'builds-' + environment.id"
        class="builds"
        [ngClass]="environmentIsExpanded(environment) ? 'expanded' : 'collapsed'"
        style="max-height: 0px"
        *ngIf="buildCommits | async as _buildCommits"
      >
        <div class="build build-header">
          <div class="commit-hash">Referenced Git Commit</div>
          <div class="owner">Author</div>
          <div class="time">Start/End</div>
          <div class="status">Status</div>
          <!-- <div class="logs">Logs</div> -->
          <div class="type">Commit Type</div>
          <div class="type">Controls</div>
        </div>
        <div *ngIf="!_buildCommits[environment.id]">
          <i class="fad fa-spinner-third fa-spin"></i>
        </div>
        <ng-container *ngFor="let buildCommitGroup of groupBuildCommits(_buildCommits[environment.id])">
          <div class="build build-revision">
            <div>
              <span class="revision">Build v{{ buildCommitGroup[0].Build.revision }}</span>
              <span class="badge" [ngClass]="'bg-' + getBuildStateColor(buildCommitGroup[0].Build.Status.state)">
                {{ getBuildStateText(buildCommitGroup[0].Build.Status.state) }}
              </span>
            </div>
            <div>
              <div class="btn-group btn-group-sm">
                <a
                  class="btn btn-sm btn-primary"
                  [ngClass]="{ 'btn-icon': showIconsOnly }"
                  [href]="'/manage/' + buildCommitGroup[0].Build.id"
                  *ngIf="buildIsManagable(buildCommitGroup[0].Build)"
                >
                  <ng-container *ngIf="showIconsOnly"><i class="fa fa-cogs"></i></ng-container>
                  <ng-container *ngIf="!showIconsOnly">Manage</ng-container>
                </a>
                <button
                  class="btn btn-sm btn-danger"
                  [ngClass]="{ 'btn-icon': showIconsOnly }"
                  (click)="toggleDeleteBuildModal(buildCommitGroup[0].Build, environment)"
                  *ngIf="buildIsDestroyable(buildCommitGroup)"
                >
                  <ng-container *ngIf="showIconsOnly"><i class="fa fa-trash"></i></ng-container>
                  <ng-container *ngIf="!showIconsOnly">Destroy</ng-container>
                </button>
              </div>
            </div>
          </div>
          <div class="build" *ngFor="let buildCommit of buildCommitGroup">
            <div class="commit-hash">
              <a [href]="getBuildCommitLink(buildCommit)">{{ getBuildCommitHash(buildCommit) }}</a>
            </div>
            <div class="owner">{{ getBuildCommitCommitter(buildCommit) }}</div>
            <div class="time">
              <ng-container *ngIf="buildCommit.ServerTasks.length > 0">
                {{ buildCommit.ServerTasks[0].startTime | dateAgo }}
                <span *ngIf="buildCommit.ServerTask[0].end_time">
                  , took
                  {{ buildCommit.ServerTasks[0].end_time | dateBetween: buildCommit.ServerTask[0].startTime }}
                </span>
              </ng-container>
            </div>
            <div class="status">
              <span class="badge" [ngClass]="'bg-' + getBuildCommitStateColor(buildCommit.state)">{{ buildCommit.state }}</span>
            </div>
            <!-- <div class="logs"><a href="#">View Logs</a></div> -->
            <div class="type">
              <span class="badge" [ngClass]="'bg-' + getBuildCommitTypeColor(buildCommit.type)">{{ buildCommit.type }}</span>
            </div>
            <div class="controls">
              <div class="btn-group btn-group-sm">
                <button
                  *ngIf="buildIsCancellable(buildCommit) || buildCommitIsCancellable(buildCommit)"
                  class="btn btn-danger"
                  [ngClass]="{ 'btn-icon': showIconsOnly }"
                  (click)="
                    buildIsCancellable(buildCommit.BuildCommitToBuild.id)
                      ? cancelBuild(buildCommit.BuildCommitToBuild.id)
                      : cancelBuildCommit(buildCommit)
                  "
                >
                  <ng-container *ngIf="showIconsOnly"><i class="fa fa-times"></i></ng-container>
                  <ng-container *ngIf="!showIconsOnly">Cancel</ng-container>
                </button>
                <a
                  *ngIf="buildCommitIsPlanable(buildCommit)"
                  class="btn btn-primary"
                  [ngClass]="{ 'btn-icon': showIconsOnly }"
                  [href]="'/plan/' + buildCommit.id"
                >
                  <ng-container *ngIf="showIconsOnly"><i class="fa fa-ruler-triangle"></i></ng-container>
                  <ng-container *ngIf="!showIconsOnly">Plan</ng-container>
                </a>
                <a
                  *ngIf="buildCommitIsViewable(buildCommit)"
                  class="btn btn-info"
                  [ngClass]="{ 'btn-icon': showIconsOnly }"
                  [href]="'/build/' + buildCommit.BuildCommitToBuild.id"
                >
                  <ng-container *ngIf="showIconsOnly"><i class="fa fa-eye"></i></ng-container>
                  <ng-container *ngIf="!showIconsOnly">View Progress</ng-container>
                </a>
                <!-- <a
                  *ngIf="buildCommitIsManagable(buildCommit)"
                  class="btn btn-dark"
                  [ngClass]="{ 'btn-icon': showIconsOnly }"
                  [href]="'/manage/' + buildCommit.BuildCommitToBuild.id"
                >
                  <ng-container *ngIf="showIconsOnly"><i class="fa fa-cogs"></i></ng-container>
                  <ng-container *ngIf="!showIconsOnly">Manage</ng-container>
                </a> -->
                <button
                  *ngIf="canViewBuildCommitLogs(buildCommit)"
                  class="btn btn-dark"
                  [ngClass]="{ 'btn-icon': showIconsOnly }"
                  (click)="viewBuildCommitLogs(buildCommit)"
                >
                  <ng-container *ngIf="showIconsOnly"><i class="fa fa-scroll"></i></ng-container>
                  <ng-container *ngIf="!showIconsOnly">View Logs</ng-container>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
