/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50: #fff7e6,
  100: #ffebc0,
  200: #ffde96,
  300: #ffd06b,
  400: #ffc64c,
  500: #ffbc2c,
  600: #ffb627,
  700: #ffad21,
  800: #ffa51b,
  900: #ff9710,
  A100: #ffffff,
  A200: #fffcf8,
  A400: #ffe4c5,
  A700: #ffd8ac,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-accent: (
  50: #f3f3ff,
  100: #e2e1ff,
  200: #cecdff,
  300: #bab8ff,
  400: #aca9ff,
  500: #9d9aff,
  600: #9592ff,
  700: #8b88ff,
  800: #817eff,
  900: #6f6cff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #f5f5ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
