{
	email {$ACME_EMAIL}
	admin off
}

{$LAFORGE_DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	reverse_proxy {$UI_UPSTREAM:127.0.0.1:8080}
}

{$GRPC_DOMAIN}:50051 {
	reverse_proxy h2c://{$GRPC_UPSTREAM:127.0.0.1:15051} {
		flush_interval -1
	}
}
